@use '../tools/media' as media;

.story {
  padding-block: var(--section-space-lg);

  &__inner {
    display: grid;
    gap: var(--layout-gap-md);
  }

  &__title {
    font-size: var(--font-heading-xl);
    line-height: var(--line-heading);
    letter-spacing: var(--tracking-heading);
  }

  &__text {
    margin-top: var(--content-gap-md);
    font-size: var(--font-body-lg);
  }

  @include media.screen-1024 {
    &__inner {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
