section.country-story {
  margin-top: 173px;
  position: relative;
  background: url("/country-story-m.jpg");

  @media (min-width: 993px) {
    background: url("/country-story-d.jpg");
  }

  &:before {
    content: "";
    position: absolute;
    top: -104px;
    right: 0;
    width: 130px;
    height: 130px;
    background: url("/girl.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }


  .country-story__inner {
    align-items: center;
    justify-content: center;
    z-index: 2;
    inset: 0;
  }

  .country-story__card {
    align-self: stretch;
    padding: var(--padding-padding_LG, 24px);
    border-radius: 16px;
    background: rgba(243, 249, 255, 0.84);
    box-shadow: 0 4px 64px 2px rgba(255, 255, 255, 0.55);
  }

  .country-story__content {
    display: flex;
    flex-direction: column;
    gap: var(--padding-padding_MD, 20px);
  }

  .country-story__decor--flower {
    position: absolute;
    z-index: 1;
    pointer-events: none;

    background-repeat: no-repeat;
    background-size: contain;

    left: -30%;
    top: -73%;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    background-position: top left;
    background-image: url('/flower-2.png');
  }

  .country-story__decor {
    width: 200px;
    height: 280px;
    position: absolute;
  }
}
