@use '../tools/media' as media;

.country-visa {
  position: relative;
  overflow: hidden;

  @media (max-width: 1023px) {
    padding-block: 160px var(--space-12);
  }
}

.country-visa__decor {
  position: absolute;
  top: 0;
  right: 0;
  width: 220px;
  height: 220px;
  object-fit: contain;
  pointer-events: none;
  will-change: transform;
}

.country-visa__card {
  position: relative;
  padding: var(--space-12) var(--space-6) var(--space-6);
  overflow: hidden;
  border-radius: var(--radius-large-card);
  background: url('/visa-mob.png') top center cover / 100% auto no-repeat,
  rgb(255 255 255 / 84%);
  box-shadow: var(--shadow-glass);
  backdrop-filter: blur(12px);

  @include media.desktop {
    background-image: url('/visa-desk.png');
    min-height: 280px;
    padding: var(--space-6) var(--space-6);
    display: flex;
    align-items: center;
  }
}

.country-visa__content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  margin: 0 auto;

  @media (min-width: 1024px) {
    text-align: center;
  }

  h2 {
    margin-bottom: var(--space-6);
  }
}
