@use '../tools/media' as media;

:root {
  --container-width: 1370px;
  --page-gutter: 16px;
  --section-space: 32px;
}

@include media.tablet {
  :root {
    --page-gutter: 24px;
    --section-space: 48px;
  }
}

@include media.screen-1024 {
  :root {
    --page-gutter: 32px;
    --section-space: 64px;
  }
}

@include media.screen-1280 {
  :root {
    --page-gutter: 40px;
    --section-space: 72px;
  }
}

@include media.screen-1440 {
  :root {
    --page-gutter: 48px;
    --section-space: 80px;
  }
}
