:root {
  --font-family-body: 'Manrope', sans-serif;
  --font-family-accent: 'Sangha Kali', sans-serif;

  --font-weight-regular: 400;
  --font-weight-semibold: 600;

  --font-heading-1: 36px;
  --font-heading-2: 32px;
  --font-heading-3: 28px;
  --font-heading-4: 24px;
  --font-heading-5: 20px;
  --font-body: 16px;
  --font-body-sm: 14px;
  --font-caption: 12px;

  --line-display: 1.2;
  --line-heading-1: 44px;
  --line-heading-2: 40px;
  --line-heading-3: 36px;
  --line-heading-4: 32px;
  --line-heading-5: 28px;
  --line-body: 24px;
  --line-small: 22px;

  --tracking-display: 0.05em;
}
